<% form_tag :action=>'update' do %>
<fieldset>
<legend>Page Preview</legend>	
<%= textilize(@page)%>
</fieldset>
<div id="textedit">
<fieldset>
<legend>Edit The Page Below</legend>
<%=text_area_tag 'quick_start_edit', @page%>
<%=submit_tag 'Preview'%>
<%=submit_tag 'Save'%>
<% end%>
</fieldset>
</div>