<div>
    <label>Subject:</label>
    <%=text_field_tag "subject",nil,:size => "80"%> <br />
    <label>Body of Email</label><br />
    <%=text_area_tag "email_text",nil,:size => "80x10"%>
</div>