<fieldset>
<legend>Display Preferences</legend>
<label>Number of Lines Per Page:</label>
<%= select_tag("linesperpage",options_for_select(%w{20 50 100 250 500}, session[:filter][:linesperpage]))%>
</fieldset>
