    <div id="searches">
     <%if session['user']%>
        <%if @searches.size == 0%>
            You Have No Saved Searches
        <%else%>
            Saved Searches....
            <%=select_tag("update_id",options_for_select(@searches))%>
            <%=submit_tag('Load')%>
            <%=submit_tag('Go')%>
        <%end%>
    <%else%>
        <p>Login To Access Saved Searches<p>
    <%end%>    
    </div>