<h1>New project</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
<%= sortable_element('sortable_list') %>
