<h3>Editing resource</h3>
<hr>

<%= render 'form' %>

<%= link_to 'Cancel', facility_path(@resource.facility) %>

<hr>

<%= link_to 'Delete Resource', facility_resource_path(@resource.facility, @resource), method: :delete, data: { confirm: 'Are you sure?' }, class: :highlight %>