<h2>Resource</h2>
<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<% if @resource.can_manage?(current_user) %>
  <%= link_to 'Edit', edit_facility_resource_path(@resource.facility, @resource) %>
  &nbsp;|&nbsp;
<% end %>
<%= link_to 'Back', facility_path(@resource.facility) %>