<table>
  <th>
    <tr>
      <td>Name of Saved Search</td>
      <td>Last Updated</td>
      <td>Facilities Permalink</td>
      <td>Availability/Needs Permalink</td>
    </tr>
  </th>
  <%=render :partial => 'detail', :collection => @searches%>
</table>