<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?sensor=false&key=<%= GOOGLE_API_KEY %>&libraries=places'></script>
<script type="text/javascript">
var placeSearch, autocomplete;
function initialize() {
  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
      { types: ['geocode'] });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    fillInAddress();
  });
}
// The START and END in square brackets define a snippet for our documentation:
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();
  $('#ui-location-coords').val(place.geometry.location.ob + ';' + place.geometry.location.pb);
  console.log(place);
}
// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
          geolocation));
    });
  }
}
// [END region_geolocation]
google.maps.event.addDomListener(window, 'load', initialize);
</script>
<%= form_tag results_path, :method => :post, :id => "ui-need-form" do %>
<div class="header-panel show-for-small">
  <div class="row">
    <div>
      <div>
        <h4>Welcome to <span class="relief-title">ReliefDB</span>, a community-driven tool for discovering relief resources. Answer the following questions to begin.</h4>
      </div>
    </div>
  </div>
</div>
<div class="header-panel hide-for-small">
  <div class="row">
    <div style="display:table">
      <div style="display:table-cell;vertical-align:middle;padding:7px">
        <%= image_tag 'reliefdb-icon.png', :class => "icon-image" %>
      </div>
      <div style="display:table-cell;padding-left:10px;vertical-align:middle">
        <h3>Welcome to <span class="relief-title">ReliefDB</span>, a community-driven tool for discovering relief resources. Answer the following questions to begin.</h3>
      </div>
    </div>
  </div>
</div>
  <br>
  <div class="row pad-large">
    <h4>1) Why are you here?</h4>
    <hr>
    <div id="ui-why-here-buttons">
      <a href="need" id="ui-need-help-button" class="button radius button-selected small-full-width">I need help</a>
      <a href="help" id="ui-give-help-button" class="button radius small-full-width">I want to help</a>
    </div>
    <input id="ui-relief-type-input" type="hidden" value="need" name="relief_type">
    <br>
    <h4 id="ui-third-question">2) What kind of help do you need?</h4>
    <hr>
        <div class="row pad-large">
          <input type="radio" id="ind" name="whoisit" value="individual" checked>
          <label for="ind">
            <strong>I am an individual...</strong>
          </label>
          <br>
          <input type="radio" id="org" name="whoisit" value="organization">
          <label for="org">
            <strong>I represent an organization...</strong>
          </label>
        </div>
        <br>
        <div class="row pad-large">
          <label id="ui-resources-label">...who needs the following resources:</label>
          <br>
          <input id="checkbox1" name="resource[food]" type="checkbox"><label for="checkbox1">Food</label>
          <br>
          <input id="checkbox2" name="resource[clothing]" type="checkbox"><label for="checkbox2">Clothing</label>
          <br>
          <input id="checkbox3" name="resource[shelter]" type="checkbox"><label for="checkbox3">Shelter</label>
          <br>
          <input id="checkbox4" name="resource[medicine]" type="checkbox"><label for="checkbox4">Medicine</label>
          <br>
          <input id="checkbox5" name="resource[volunteering]" type="checkbox"><label for="checkbox5">Volunteering</label>
        </div>
        <br>
    <h4>3) Where are you?</h4>
    <hr>
    <a href="#" id="ui-find-location-button" class="button radius small-full-width">Use my current location</a>
    <br>
    <p class="small-center">
    <span id="ui-location-results">OR</span>
    </p>
    <input type="text" id="autocomplete" onFocus="geolocate()" class="noEnterFormSubmit" placeholder="Enter address, city, state, or zip code" autocomplete="off">
    <input type="hidden" id="ui-location-coords" name="location" value="">
    <br>
    <hr>
    <%= submit_tag "Find Relief", :id => "ui-guide-action-button", :class => "button radius large success small-full-width" %>
  </div>
<% end %>