<div class="pad-large">
  <div class="row">
    <h3>Welcome to ReliefDB, a community-driven website for relief resources. Answer the questions below to continue.</h3>
  </div>
  <br>
  <div class="row">
    <h4>1) Why are you here?</h4>
    <hr>
      <ul class="button-group radius">
        <li><a href="#" class="button">I need help</a></li>
        <li><a href="#" class="button">I want to help</a></li>
      </ul>
    <h4>2) Where are you?</h4>
    <hr>
    <a href="#" class="button">Use my current location</a>
    <h4>3) What kind of help do you need?</h4>
    <hr>
    <a href="#" class="button radius large success">Find Relief</a>
  </div>
</div>