<div class="row pad-large">
<p>
  <%= "Relief Type: #{@relief_type}" %>
</p>
<p>
  <%= "Latitude: #{@location.first} & Longitude: #{@location.last}" %>
</p>
<p>
  <%= "Who is it: #{@whoisit}" %>
</p>
<h3>Resources</h3>
<% @resources.each do |r| %>
  <p><%= r %></p>
<% end %>
</div>