<div style="background-color:black">
<span style="text-align:center;display:block;background-color:yellow">Help Guide For Facilities Search and Available/Needs Search</span> 
<%=link_to "Back To #{@helpreturn.capitalize}",{:controller => @helpreturn, :action => 'filter'},:style =>"background-color:silver;width:100%;display:block;text-align:center"%>
<br />
<%=image_tag 'searchhelp.gif', :size=> '800x600'%>
<%=link_to "Back To #{@helpreturn.capitalize}",{:controller => @helpreturn, :action => 'filter'},:style =>"background-color:silver;width:100%;display:block;text-align:center"%>
</div>