<div style="background-color:black">
<span style="background-color:yellow;text-align:center;display:block">Help Guide For Availability/Needs List</span>
<%=link_to "Back To Available/Needs List",{:controller => 'conditions', :action => 'list'},:style =>"background-color:silver;width:100%;display:block;text-align:center"%>
<br />
<%=image_tag 'condhelp.gif', :size=> '800x600'%>
<%=link_to "Back To Available/Needs List",{:controller => 'conditions', :action => 'list'},:style =>"background-color:silver;width:100%;display:block;text-align:center"%>
</div>