<div style="background-color:black">
<span style="background-color:yellow;text-align:center;display:block">Help Guide For Facilities List</span>
<%=link_to "Back To Facilities List",{:controller => 'facilities', :action => 'list'},:style =>"background-color:silver;width:100%;display:block;text-align:center"%>
<br />
<%=image_tag 'fachelp.gif', :size=> '800x600'%>
<%=link_to "Back To Facilities List",{:controller => 'facilities', :action => 'list'},:style =>"background-color:silver;width:100%; display:block;text-align:center"%>
</div>