/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */


.pad-large {
  padding:10px;
}

.flash {
  padding:20px;
}

.notice {
  background-color:lightblue;
  color:blue;
}

.error {
  background-color:pink;
  color:red;
}

.alert {
  background-color:lightyellow;
  color:yellow;
}


a.button-selected {
  background-color:#006384;
  &:hover {
    background-color:#006384;
  }
}