/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */


.pad-large {
  padding:10px;
}

.flash {
  padding:20px;
}

.notice {
  color:#00365f;
  background-color:#c3e5ff;
}

.error {
  color:darken(#ff0000, 25%);
  background-color:lighten(#ff0000, 40%);
}

.alert {
  color:darken(#00ff24, 35%);
  background-color:lighten(#00ff24, 40%);
}


a.button-selected {
  background-color:#006384;
  &:hover {
    background-color:#006384;
  }
}

.relief-title {
  font-weight:bold;
  color:#006384;
}

.grid {
  display:table;
  width:100%;
}

.grid-row {
  display:table-row;
}

.grid-col {
  display:table-cell;
}

.vcenter {
  vertical-align:middle;
}

.hcenter {
  text-align:center;
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}