// Place all the styles related to the Guide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.icon-image {
  width:125px;
  min-width:125px;
}

.icon-image-small {
  width:75px;
  min-width:75px;
}

.header-panel {
  background-color:lightblue;
  padding:10px;
  width:100%;
}