html, body, #contents {
	min-height: 100%;
	width: 100%;
	height: 100%;
}

/*
 * The "height" above is a hack for IE5+/Win.  Below we adjust
 * it using the child selector to hide from IE5+/Win
 */

html>body, html>body #contents {
	height: auto;}

/*
 * Without this, Moz1.0 adds a vertical scrollbar
 */

body { margin: 0}
/*
#contents {
    position: absolute;
    top: 0;
    left: 0;
/*  Use the following to center this at 50% width, or this for 750px: width: 700px, margin-left: -350px: */
/*
    left: 50%;
    width: 50%;
    margin-left: -25%;
*/

/*
#footer {
/*	position: absolute;
	bottom: 0; 
	background-color: #ffffff;
	text-align: left;
	padding: 10px;
	clear:both
}
*/
#main {
	height: auto;
	padding: .5em;
}

/* End footer hacks */
/*body { background-color: #fff; color: #333; }*/
body{margin-left:5px}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   10pt;
  /* line-height: 18px; */
}

a, a:visited{color:blue}

#main h1{
  text-align:center;
  margin:0;
  color: #3b523b;
}

   
a{border:0;background-color:inherit}
img{border:0}
img:hover{background-color:white}

#footer{clear:both;width:760px}

#projectlist{width:700px; margin: 0 auto;}
#tasks ul {width:300px; list-style:none; padding:0}
#tasks li {margin-top:3px; border-bottom: 1px green solid; border-top: 1px green solid; padding: 3px 0; width:600px; height:22px }
#tasks li span, #tasks p{padding:0 3px; height:20px}
#project{border-bottom: 1px black solid; border-top: 1px black solid; margin: 5px 0}

#taskname{width:500px}

table {
  border-collapse:collapse; margin-left:20px; border-spacing:0}

table #taskstatus{width:100px; text-align:center;}
table th{text-align:left;}
table th, table td{border-bottom: 1px green solid}

.task_Done{background-color:lime}
.percentdone{width: 100px; background-image:url('assets/percentdone.png'); border: 1px gray solid; 
	display:block; color:white; text-align:center; float:left; margin: 0 10px; margin-top:-3px}
.project_name{float:left; width:300px}
#project_list {list-style:square}
#project_list li{clear:left; height:23px;}
#project_project_name{margin-bottom:5px}
#project_project_notes{clear:left}
.project_labels{width:115px; float:left}
#project_notes{clear:left; border-top: 1px maroon solid; margin-top: 3px}
.clear{clear:both}
#task_bottom a{float:left}