<h3>Editing organization</h3>
<hr>

<%= render 'form' %>

<%= link_to 'Cancel', @organization %>

<hr>

<%= link_to 'Delete Organization', @organization, method: :delete, data: { confirm: 'Are you sure?' }, class: :highlight %>