<div style = "width:auto">
<h1>Categories</h1>
<table style="margin: 0 auto">
  <thead>
  <tr>
  <% for column in Category.list_columns %>
    <th>Category Name</th>
    <th></th>
  <% end %>
  </tr>
  </thead>
<% for category in @categories %>
  <tr>
    <td class="tdleft"><%=h category.name %></td>
    <td><%=link_to(image_tag("show.png",:alt=>"Show"),:action => 'show', :id => category)%>
    <%if User.find(session['user']) && (User.find(session['user']).priv_write)%>
        <%=link_to(image_tag("edit.png",:alt=>"Edit"),:action => 'edit', :id => category)%>
    <%end%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category', :action => 'new' %>
</div>