	<div id="footer">
		<hr />Please <%=link_to "Donate", "http://www.reliefdatabase.org/ReliefDbase~CATDonations.html", :target => "_new" %>! 
		Citizen Action Team is an all-volunteer organization dedicated to Katrina 
		relief. 100% of your donations go towards serving needs like those listed 
		in this database.
	</div>