<html>
<head>
  <title><%= @title && @title + " (CitizenActionTeam.org Database)" || "CitizenActionTeam.org Database" %></title>
  <%= header($GOOGLE_KEY) %>
</head>
<body>
<%= @content_for_layout %>
</body>
</html>
